.task_item {
    color: whitesmoke;
    position: relative;
    background-color: rgb(100, 100, 100);
    margin-bottom: 2%;
    padding-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    box-shadow: 2px 3px 3px black;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: 
    "checkbox"
    "task_item" 
    "delete_button";
    
}

.task_item:hover {
    background-color: rgb(114, 113, 113);
}

.checkbox {
    margin-top: 25%;
    width: 20px;
    height: 20px;
}